@media screen and (max-width: 600px) {

  body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    background-color: 	#FFFAFA;
  }
  .post-edit {
    transform: translateX(-300px);
  }

  .slide-edit {
    transform: translateX(60px);
    display: block;
    width: 250px;
    height: 160px;
    transition: ease-in-out;
    transition: 0.5s;
    box-shadow: 0 8px 6px -6px black;
    background-color: #f1cbff;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 15px;
  }

  .fa-edit {
    margin-left: 20px;
    font-size: 40px;
    cursor: pointer;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .fa-image {
    font-size: 40px;

  }

  .fa-plus-square {
    color: black;
    font-size: 50px;
  }


  .fa-user {
    font-size: 35px;

  }

  .welcome {
    font-family: "Raleway";
    text-align: center;
  }
  .heart2 {
    margin-left: 10px;
    color: 	red;
    font-size: 40px;
    cursor: pointer;
    background-color: #FFFAFA;
  }

  .heart2:focus {
  outline-width: 0;

  }
  .p-heart {
    font-size: 30px;
  }

  .form-heart {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }


  .edit {
    height: 30px;
    text-align: center;
    font-size: 20px;

  }

  .form-control {
    width: 60%;
    height: 40px;
    border: 1px solid silver;
    text-align: center;
    font-size: 15px;
    font-family: "Raleway";
  }

  .hamburger-btn {
    font-size: 40px;
    cursor: pointer;
    list-style: none;

  }

  .hamburger-btn:hover {
    color: #fff;
    transition: 0.3s;

  }

  .profile-user {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

  .container-profile {
    display: block;
    margin-top: 80px;
    margin-left: 5px;
    font-size: 15px;
  }

  .profile-gallery {
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 6px -6px black;
  }

  .profile {
    margin-left: 20px;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 6px -6px black;

  }

  .gallery-p {
    text-align: center;
  }

  .h1-login {
    margin-top: 100px;
  }


  .hamburger-btn {
    line-height: 55px;
    font-size: 35px;
    cursor: pointer;
    list-style: none;

  }

  .hamburger-btn:hover {
    color: #fff;
    transition: 0.3s;

  }
  .navbar a {
    text-align: center;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    float: left;
  }

  .photoify {
    line-height: 10px;
    display: flex;
    justify-content:flex-start;

  }
  .navbar a:hover {
    color: #fff;
    transition: 0.3s;

  }
  .navbar ul {
    margin: 0;
  }


  .profile-btn {
    background-color:#f1cbff;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .profile-btn a {
    color: black;
    text-decoration: none;
    font-size: 15px;
  }

  .posts-display {
  display: flex;
  justify-content: center;
}

  p {
    font-family: "Happy Monkey";
    font-size: 20px;

  }

  .pop-up-p {
    text-align: center;
    text-transform: uppercase;
  }

  .edit-bio {
    font-family: "Happy Monkey";
    text-align: center;
    width: 250px;
    font-size: 15px;
    height: 80px;
    border: 1px solid silver;
  }

  .bio {
    margin-left: 10px;
  }


  .label {
    font-size: 20px;
  }
  .create-login {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .image {
    width: 330px;
    height: 330px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.2s ease;
    box-shadow: 0 8px 6px -6px black;
  }

  .image:hover {
    transform: scale(1.1);
  }

  .post {
    color: black;
    font-size: 20px;

  }

  .login {
    text-align: center;
  }
  .update {
    margin-top: 100px;
  }

  .pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
  }

  .image-desc {
    border: 1px solid silver;
    margin-bottom: 10px;
    width: 80%;
    height: 100px;
  }

  .input {
    font-family: "Happy Monkey";
    border: 1px solid silver;
    text-align: center;
    font-size: 15px;
    width: 250px;
    height: 40px;
  }

  .upload-content {
    margin-left: 20px;
    border: 1px solid silver;
    font-size: 17px;
    width: 230px;
    height: 26px;
  }

  .profile-section {
    margin-top: 100px;
    border-bottom: 1px solid silver;
    width: 100%;

  }

  .gallery-page {
    margin-top: 100px;
    border-bottom: 1px solid silver;
    width: 100%;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }
  .create-account {
    background-color:#f1cbff;
    margin-top: 50px;
    color: black;
    width: 120px;
    margin-right: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }

  .start-login {
    background-color:#f1cbff;
    margin-top: 50px;
    color: black;
    height: 60px;
    width: 120px;
    line-height: 60px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }

  .start-login a {
    text-decoration: none;
    color: black;
  }
  .create-account a {
    text-decoration: none;
    color: black;
  }

  .arrow {
    display: flex;
    justify-content: center;
    color: black;
    margin-left: 30px;
    font-size: 30px;
  }

  .fa-arrow-left  {
    color: black;
  }

  .section {
    background-color: #202020;
  }

  .p-gallery {
    margin-left: 30px;
    font-size: 20px;
  }

}
