@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  background-color: 	#FFFAFA;
}
.profile {
  margin-left: 30px;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 6px -6px black;

}

.gallery-page {
  border-bottom: 1px solid silver;
  width: 100%;
}

.p-gallery {
  margin-left: 30px;
  font-size: 20px;
}

.profile-section {
  margin-top: 100px;
  border-bottom: 1px solid silver;
  width: 100%;

}

.profile-gallery {
  margin-top: 100px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 6px -6px black;
}
.profile-user {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.posts-display {
display: flex;
justify-content: center;
}

.posts {
  display: flex;
  justify-content: flex-start;
}

.post {
  color: black;
  font-size: 20px;

}

.image {
  margin-top: 20px;
  align-items: center;
  width: 530px;
  height: 530px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.2s ease;
  box-shadow: 0 8px 6px -6px black;
}

.image:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.hamburger-btn {
  line-height: 50px;
  font-size: 35px;
  cursor: pointer;
  list-style: none;

}

.hamburger-btn:hover {
  color: #fff;
  transition: 0.3s;

}

.fa-image {
  font-size: 35px;
}

.fa-image:hover {
  color: #fff;
}

.fa-plus-square {
  color: black;
  font-size: 50px;
}

.fa-plus-square:hover {
  color: #fff;
}

.fa-user {
  font-size: 35px;

}

.fa-user:hover {
  color: #fff;

}

.btn-place {
  display: flex;
  justify-content: center;
}

.profile-btn {
  margin-left: 20px;
  background-color:#f1cbff;
  color: black;
  padding: 15px 32px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 40px;
}
.profile-btn a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}


.post-edit {
  transform: translateX(-300px);
}

.slide-edit {
  transform: translateX(590px);
  display: block;
  width: 250px;
  height: 160px;
  transition: ease-in-out;
  transition: 0.5s;
  box-shadow: 0 8px 6px -6px black;
  background-color: #f1cbff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.fa-edit {
  margin-bottom: 10px;
  font-size: 40px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.heart2 {
  color: 	red;
  font-size: 30px;
  cursor: pointer;
  border: none;

}

.form-heart {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.bio {
  margin-left: 10px;
  border-bottom: 1px solid silver;
}

p {
font-family: "Happy Monkey";
font-size: 20px;
}


h2 {
  text-transform: uppercase;
  text-align: center;
}

article h1 {
  font-family: "Happy Monkey";
  color: pink;
  font-size: 40px;
  text-align: center;

}

h1 {
  font-family: "Happy Monkey";
  color: pink;
  font-size: 40px;
  text-align: center;
}

footer {
  position: fixed;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1cbff;
  height: 70px;
  width: 100%;
  transition: 0.5s;
  z-index: 1;
}

footer i {
  color: black;
  font-size: 30px;
}

.links {
  display: flex;
  justify-content: center;
}
.create-account {
  background-color:#f1cbff;
  margin-top: 50px;
  color: black;
  width: 120px;
  margin-right: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.start-login {
  background-color:#f1cbff;
  margin-top: 50px;
  color: black;
  height: 60px;
  width: 120px;
  line-height: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.start-login a {
  text-decoration: none;
  color: black;
}
.create-account a {
  text-decoration: none;
  color: black;
}

.arrow {
  display: flex;
  justify-content: center;
  color: black;
  margin-left: 30px;
  font-size: 30px;
}

.fa-arrow-left  {
  color: black;
}

.start {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.create {
  margin-top: 100px;
}

.home {
  margin-top: 150px;
  text-transform: uppercase;
}

.update {
  margin-top: 100px;
}

.welcome {
  text-align: center;
}

.index {
  height: 100vh;
}

.label {
  font-size: 20px;
}
.create-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input {
  font-family: "Happy Monkey";
  border: 1px solid silver;
  text-align: center;
  font-size: 15px;
  width: 250px;
  height: 40px;
}
.upload-content {
  margin-left: 20px;
  border: 1px solid silver;
  /* font-size: 17px; */
  width: 180px;
  /* height: 26px;  */
}

.getAllPosts {
display: flex;
justify-content: center;
}

.profile-posts {
display: block;
}

.user {
margin-left: 20px;
}

.h3-user {
text-transform: uppercase;
font-size: 20px;
font-family: "Happy Monkey";
text-align:left;
}

.desc {
text-align: center;
font-family: "Happy Monkey";
font-size: 17px;
}

.edit-bio {
  font-family: "Happy Monkey";
  text-align: center;
  width: 250px;
  font-size: 15px;
  height: 80px;
  border: 1px solid silver;
}
