* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article h1 {
color: pink;

}

.profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

}

.bio {
width: 200px;

}


.image {
  border: 1px solid black;
  display: inline-block;
  width: 250px;
  height: 250px;
  object-fit: cover;

}

@media screen and (max-width: 768px) {
  .form-group {
    display: flex;
