
body {
font-family: "Raleway";
background-color: #f4f4f4;

}


p {
text-transform: uppercase;
}



article h1 {
color: pink;
font-size: 30px;


}

.heart {
font-size: 30px;
cursor: pointer;

}

.form-control {
display: block;
}

.hamburger-btn {
font-size: 35px;
cursor: pointer;
list-style: none;

}

.hamburger-btn:hover {
color: #fff;
transition: 0.3s;

}


.container-profile {
display: block;
margin-top: 80px;
margin-left: 5px;
font-size: 15px;
}



.profile-btn {
  font-size: 20px;
  border: 1px solid black;
}

.profile {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;

}

.image {
  display: inline-block;
  width: 350px;
  height: 350px;
  object-fit: cover;

}

.profile-btn {
    background-color: pink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;

  }

.h1-login {
  margin-top: 80px;
}


@media screen and (max-width: 600px) {

  .hamburger-btn {
  font-size: 35px;
  cursor: pointer;
  list-style: none;

  }

  .hamburger-btn:hover {
  color: #fff;
  transition: 0.3s;

  }

  .navbar ul {
    margin: 0;

}
}
